
<div class="bg-[#fff] rounded-[8px] mb-[10px]">
  <app-title-box [title]="'Thông tin tìm kiếm'"></app-title-box>

  <div class="search-box p-3">

    <form nz-form [formGroup]="form" (ngSubmit)="onSearch()">

          <div nz-row [nzGutter]="16" class="flex">

            <div nz-col [nzSpan]="6" class="pb-2">
              <div>
                <div class="pb-1">Mã danh mục</div>
                <app-form-control>
                  <app-input
                    class="input-text"
                    formControlName="code"
                  ></app-input>
                </app-form-control>
              </div>
            </div>

            <div nz-col [nzSpan]="6" class="pb-2">
              <div>
                <div class="pb-1">Tên danh mục</div>
                <app-form-control>
                  <app-input
                    class="input-text"
                    formControlName="name"
                  ></app-input>
                </app-form-control>
              </div>
            </div>

            <div nz-col [nzSpan]="6" class="pb-2">
              <div>
                <div class="pb-1">Trạng thái</div>
                <app-form-control>
                  <app-select
                    formControlName="status"
                    [options]="optionStatus"
                    [showSearch]="true"
                    [placeholder]="'Tất cả'"
                    [allowClear]="true"
                    (ngModelChange)="onSearch()"
                  ></app-select>
                </app-form-control>
              </div>
            </div>

            <div nz-col [nzSpan]="6" class="pb-2">
              <div class="pb-1">&nbsp;</div>
              <div class="flex justify-end items-center">
                <button nz-button nzType="default" class="btn-submit rounded-[8px]" type="button" (click)="onClearSearch()">
                  <span nz-icon nzType="undo" nzTheme="outline"></span>
                  Nhập lại
                </button>

                <button nz-button nzType="primary" class="btn-submit rounded-[8px] ml-2" type="submit">
                  <span nz-icon nzType="search" nzTheme="outline"></span>
                  Tìm kiếm
                </button>
              </div>

            </div>
          </div>
        </form>

  </div>
</div>


<div class="bg-[#fff] rounded-[8px]">

  <h3 class="border-b p-3 font-medium flex justify-between items-center">
    <span>Danh mục cấu hình</span>

    <button nz-button nzType="primary" class="btn-submit rounded-[8px]" type="button" (click)="openDialogAddNewCategory()">
      <span nz-icon nzType="plus" nzTheme="outline"></span>
      Thêm mới
    </button>
  </h3>

  <div class="table-list p-3">
    <div class="basis-0 grow shrink">
      <app-table
        [columns]="columns"
        [items]="items"
        [pagination]="pagination"
        [scrollY]="'400px'"
        [scrollX]="'1100px'"
        (dbClickItem)="onDbClickItem($event)"
        (queryParams)="onQueryParams($event)"
        [displayColumns]="displayColumns"
        [showIndex]="true"
        [checkedKeys]="selectedKeys"
        [loading]="loading$ | async"
        (itemSelected)="onSelectedItem($event)"
        (checkedKeysChange)="onSelectKeysChange($event)"
        [showHightlightRow]="true"
        (clickItem)="onClickItem($event)"
        [showPagination]="pagination.total > 0"
      >
        <ng-template [appCellTemplate]="'actions'" let-item>

          <button nz-button nzType="text" (click)="onEditItem(item)" class="cursor-pointer">
            <i
              nz-icon
              nzType="edit"
              nzTheme="outline"
              nz-tooltip
              nzTooltipTitle="Sửa danh mục"
            ></i>
          </button>

<!--          <button nz-button nzType="text" (click)="onDeleteItem(item)" class="cursor-pointer">-->
<!--            <i-->
<!--              nz-icon-->
<!--              nzType="delete"-->
<!--              nzTheme="outline"-->
<!--              nz-tooltip-->
<!--              nzTooltipTitle="Xóa"-->
<!--            ></i>-->
<!--          </button>-->
        </ng-template>

      </app-table>
    </div>
  </div>
</div>


