<div>
<!--  <h3 class="border-b py-3 mb-3 mt-[-14px] font-medium">-->
<!--    Thay đổi mật khẩu-->
<!--  </h3>-->

  <form [formGroup]="form" (ngSubmit)="submitForm()">

    <div nz-row [nzGutter]="10">

      <div nz-col [nzSpan]="12" class="pb-2">
        <div class="pb-1">Tài khoản</div>
        <app-form-control>
          <app-input
            formControlName="userName"
          ></app-input>
        </app-form-control>
      </div>

      <div nz-col [nzSpan]="12" class="pb-2">
        <div class="pb-1">Họ và tên</div>
        <app-form-control>
          <app-input
            formControlName="fullName"
          ></app-input>
        </app-form-control>
      </div>

      <div nz-col [nzSpan]="12" class="pb-4">
        <div class="pb-1">Số điện thoại</div>
        <app-form-control>
          <app-input
            formControlName="phoneNumber"
          ></app-input>
        </app-form-control>
      </div>

      <div nz-col [nzSpan]="12" class="pb-4">
        <div class="pb-1">Email</div>
        <app-form-control>
          <app-input
            formControlName="email"
          ></app-input>
        </app-form-control>
      </div>

      <div nz-col [nzSpan]="24" class="pb-4">
        <div class="required pb-1">Mật khẩu cũ</div>
        <app-form-control>
          <app-input-password
            formControlName="oldPassword"
          ></app-input-password>
        </app-form-control>
      </div>

      <div nz-col [nzSpan]="12" class="pb-4">
        <div class="required pb-1">Mật khẩu mới</div>
        <app-form-control>
          <app-input-password
            formControlName="password"
          ></app-input-password>
        </app-form-control>
      </div>

      <div nz-col [nzSpan]="12" class="pb-4">
        <div class="required pb-1">Nhập lại mật khẩu mới</div>
        <app-form-control>
          <app-input-password
            formControlName="confirmPassword"
          ></app-input-password>
        </app-form-control>
      </div>

      <ng-container *ngIf="form.errors?.notmatched || form.errors?.notAllowMath">
        <div nz-col [nzSpan]="24" class="pb-4" [ngStyle]="{'color': '#ff4d4f', 'font-size': '13px'}">{{form.errors?.message}}</div>
      </ng-container>

      <div nz-col [nzSpan]="24" class="text-right">
        <button
          class="rounded"
          nz-button
          nzType="default"
          (click)="closeModal()"
          style="min-width: 100px;"
          type="button"
        ><span>Bỏ qua</span>
        </button>

        <button
          class="ml-2 rounded"
          nz-button
          nzType="primary"
          [nzLoading]="isLoading"
          type="submit"
          style="min-width: 100px;"
        ><span>Đổi mật khẩu</span>
        </button>
      </div>

    </div>

  </form>

</div>

