<form nz-form nzLayout="vertical" [formGroup]="form" (ngSubmit)="save()">
    <div class="grid grid-cols-2 gap-4">
      <div class="flex flex-col">
        <label class="text-sm required mb-2">Mã dịch vụ</label>
        <div class="col-span-6">
          <app-form-control>
            <app-input
              formControlName="serviceCode"
              appFormatUppercase
              [regexPatternAllow]="REGEX_USERNAME"
              [allowClear]="true"
            ></app-input>
          </app-form-control>
        </div>
      </div>
      <div class="flex flex-col">
        <label class="text-sm required mb-2">Tên dịch vụ</label>
        <div class="col-span-6">
          <app-form-control>
            <app-input
              formControlName="serviceName" [allowClear]="true"
            ></app-input>
          </app-form-control>
        </div>
      </div>
      <div class="flex flex-col">
        <label class="text-sm required mb-2">Điều hướng</label>
        <div class="col-span-6">
          <app-form-control>
            <app-input
              formControlName="screenRedirect" [allowClear]="true"
            ></app-input>
          </app-form-control>
        </div>
      </div>
      <div class="flex flex-col">
        <label class="text-sm required mb-2">Vị trí trên Trang chủ</label>
        <div class="col-span-6">
          <app-form-control>
            <app-input
              formControlName="priority" [allowClear]="true"
            ></app-input>
          </app-form-control>
        </div>
      </div>
      <div class="flex flex-col col-span-2">
        <label class="text-sm mb-2">Mô tả</label>
        <div class="col-span-6">
          <app-form-control>
            <app-textarea
              formControlName="description" 
              [rows]="3" 
              [maxHeight]="'90px'"
            ></app-textarea>
          </app-form-control>
        </div>
      </div>
    
    </div>

<div class="grid grid-cols-2 gap-4 mt-3">
  <div class="col-span-1">
    <div class="grid grid-cols-6">
      <div class="flex flex-col col-span-2">
        <label class="text-sm required mb-2">Ảnh Icon</label>
        <div class="col-span-6">
        <app-form-control>
          <app-upload
            formControlName="imageB64"
            [fileListInit]="form.controls['appIcon'].value"
          ></app-upload>
        </app-form-control>
        </div>
      </div>
      <div class="flex flex-col col-span-4">
        <div>
          <label class="text-sm required mb-2">Hiển thị</label>
          <div class="col-span-6">
            <app-form-control>
              <app-radio-group
                formControlName="displayType"
                [options]="optionAccount"
                (ngModelChange)="changeOption($event)"
                >
              </app-radio-group>
            </app-form-control>
          </div>
        </div>
        <div *ngIf="isUpdate" class="flex flex-col col-span-1">
          <label class="text-sm mb-2">Trạng thái</label>
          <div class="col-span-6">
            <app-form-control>
              <app-switch 
                formControlName="status"
                (switchChange)="onSwitchChange($event)"
              ></app-switch>
            </app-form-control>
          </div>
        </div>
       
      </div>

     


    </div>
  </div>
<div class="col-span-1">
  <div class="flex flex-col col-span-1">
    <label class="text-sm mb-2" [ngClass]="{ required: requiredOption }">Danh sách khách hàng</label>
    <div class="col-span-6">
      <app-form-control>
        <app-textarea
          formControlName="displayFor" [rows]="3" [maxHeight]="'90px'">
        </app-textarea>
      </app-form-control>
    </div>
  </div>
</div>
</div>
    <div class="text-right btn-groups mt-2">
      <button
        class="rounded"
        nz-button
        nzType="default"
        style="min-width: 100px;"
        type="button"
        (click)="cancel()"
      ><span>Bỏ qua</span>
      </button>

      <button
        class="ml-2 rounded"
        nz-button
        nzType="primary"
        type="submit"
        style="min-width: 100px;"
        [nzLoading]="loading$ | async"
      ><span>Lưu</span>
      </button>
    </div>
  </form>
  
