<nz-input-group [ngClass]="{'border-1 border-dangerous': conditionClass, 'allowClear': allowClear}"   [nzSuffix]="suffixTemplate" [nzSize]="size">
  <input
    nz-input
    placeholder="{{ disabled ? undefined : (placeholder | translate) }}"
    [(ngModel)]="value"
    [disabled]="disabled"
    (ngModelChange)="onChange($event)"
    [type]="passwordVisible ? 'text' : 'password'"
  />
</nz-input-group>

<ng-template #suffixTemplate>

  <i  *ngIf="allowClear && value && !disabled"
      nz-icon
      nzType="icons:clear-value"
      class="clearIcon"
      (click)="clearInputValue()"
      style="cursor: pointer"></i>

  <i
    style="cursor: pointer"
    nz-icon
    nzType="eye"
    *ngIf="!passwordVisible; else inVisible"
    (click)="showPassword()"
  ></i>
  <ng-template #inVisible>
    <i
      style="cursor: pointer"
      nz-icon
      nzType="eye-invisible"
      (click)="showPassword()"
    ></i>
  </ng-template>
</ng-template>
