@tailwind base;
@tailwind utilities;
@tailwind variants;
@tailwind components;
// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";


.ant-btn-primary {
  border-color: var(--primary);
  background: var(--primary);
}

button{
  &.ant-switch{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), linear-gradient(to right, #fff, #fff);
    &.ant-switch-checked{
      background: var(--primary);
    }
  }
}