<div *ngIf="isLoading" class="loading-overlay">
  <nz-spin nzTip="Loading..."></nz-spin>
</div>
  <div class="card-container mb-4">
    <section class="flex justify-between border-b">
      <div class="flex items-center">
        <h3 class="p-3 font-medium">Kết quả tìm kiếm</h3>
      </div>
      <div class="flex gap-2 mt-3 mb-3 mr-2">
        <button nz-button nzType="primary" class="btn-submit rounded-[8px]" type="button"
         nz-button>
         <span nz-icon nzType="icons:icn-reload"></span>
          Cập nhật thứ tự
        </button>
        <button nz-button nzType="primary" class="btn-submit rounded-[8px] mr-1" type="button">
          <span nz-icon nzType="plus" nzTheme="outline"></span>
          Thêm mới
        </button>
      </div>
    </section>

    <div class="table-list p-3" style="margin-bottom: 20px;">
      <div class="basis-0 grow shrink">
        <div class="nz-table-container">
          <table nz-table  nzTableLayout="fixed">
            <thead>
            <tr>
              <th nzAlign="center" nzWidth="50px">STT</th>
              <th nzAlign="center" nzWidth="70px" nzRight>Thao tác</th>
              <th nzAlign="center" nzWidth="150px">Mã dịch vụ</th>
              <th nzAlign="center" nzWidth="150px">Tên dịch vụ</th>
              <th nzAlign="center" nzWidth="250px">Mô tả</th>
              <th nzAlign="center" nzWidth="150px">Người tạo</th>
              <th nzAlign="center" nzWidth="150px">Thời điểm tạo</th>
              <th nzAlign="center" nzWidth="100px">Trạng thái</th>
            </tr>
            </thead>
          </table>
          <cdk-virtual-scroll-viewport itemSize="48" class="virtual-scroll-viewport">
            <table nz-table  nzTableLayout="fixed">
              <tbody>
              <tr
                class="cursor-pointer"
                *cdkVirtualFor="let x of sampleData; let i = index"
                cdkDrag
              >
                <td nzAlign="center" nzWidth="50px">{{ i + 1 }}</td>
                <td nzAlign="center" nzWidth="70px">{{ x.activity }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.code }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.name }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="250px">{{ x.description }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.user }}</td>
                <td nzAlign="center" nzEllipsis nzWidth="150px">{{ x.createdAt }}</td>
                <td nzWidth="100px">{{ x.status }}</td>
              </tr>
              </tbody>
            </table>
          </cdk-virtual-scroll-viewport>
        </div>
      </div>
    </div>
    <div class="table-list p-3" style="margin-bottom: 20px;">
      <div class="basis-0 grow shrink">
        <div class="nz-table-container">
          <table nz-table  nzTableLayout="fixed">
            <thead>
            <tr>
              <th nzAlign="center" nzWidth="50px">STT</th>
              <th nzAlign="center" nzWidth="70px" nzRight>Thao tác</th>
              <th nzAlign="center" nzWidth="150px">Mã dịch vụ</th>
              <th nzAlign="center" nzWidth="150px">Tên dịch vụ</th>
              <th nzAlign="center" nzWidth="250px">Mô tả</th>
              <th nzAlign="center" nzWidth="150px">Người tạo</th>
              <th nzAlign="center" nzWidth="150px">Thời điểm tạo</th>
              <th nzAlign="center" nzWidth="100px">Trạng thái</th>
            </tr>
            </thead>
          </table>
          <cdk-virtual-scroll-viewport itemSize="48" class="virtual-scroll-viewport">
            <table nz-table  nzTableLayout="fixed">
              <tbody>
              <tr
                class="cursor-pointer"
                *cdkVirtualFor="let x of sampleData; let i = index"
                cdkDrag
              >
                <td nzAlign="center" nzWidth="50px">{{ i + 1 }}</td>
                <td nzAlign="center" nzWidth="70px">{{ x.activity }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.code }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.name }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="250px">{{ x.description }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.user }}</td>
                <td nzAlign="center" nzEllipsis nzWidth="150px">{{ x.createdAt }}</td>
                <td nzWidth="100px">{{ x.status }}</td>
              </tr>
              </tbody>
            </table>
          </cdk-virtual-scroll-viewport>
        </div>
      </div>
    </div>
    <div class="table-list p-3" style="margin-bottom: 20px;">
      <div class="basis-0 grow shrink">
        <div class="nz-table-container">
          <table nz-table  nzTableLayout="fixed">
            <thead>
            <tr>
              <th nzAlign="center" nzWidth="50px">STT</th>
              <th nzAlign="center" nzWidth="70px" nzRight>Thao tác</th>
              <th nzAlign="center" nzWidth="150px">Mã dịch vụ</th>
              <th nzAlign="center" nzWidth="150px">Tên dịch vụ</th>
              <th nzAlign="center" nzWidth="250px">Mô tả</th>
              <th nzAlign="center" nzWidth="150px">Người tạo</th>
              <th nzAlign="center" nzWidth="150px">Thời điểm tạo</th>
              <th nzAlign="center" nzWidth="100px">Trạng thái</th>
            </tr>
            </thead>
          </table>
          <cdk-virtual-scroll-viewport itemSize="48" class="virtual-scroll-viewport">
            <table nz-table  nzTableLayout="fixed">
              <tbody>
              <tr
                class="cursor-pointer"
                *cdkVirtualFor="let x of sampleData; let i = index"
                cdkDrag
              >
                <td nzAlign="center" nzWidth="50px">{{ i + 1 }}</td>
                <td nzAlign="center" nzWidth="70px">{{ x.activity }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.code }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.name }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="250px">{{ x.description }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.user }}</td>
                <td nzAlign="center" nzEllipsis nzWidth="150px">{{ x.createdAt }}</td>
                <td nzWidth="100px">{{ x.status }}</td>
              </tr>
              </tbody>
            </table>
          </cdk-virtual-scroll-viewport>
        </div>
      </div>
    </div>
    <div class="table-list p-3" style="margin-bottom: 20px;">
      <div class="basis-0 grow shrink">
        <div class="nz-table-container">
          <table nz-table  nzTableLayout="fixed">
            <thead>
            <tr>
              <th nzAlign="center" nzWidth="50px">STT</th>
              <th nzAlign="center" nzWidth="70px" nzRight>Thao tác</th>
              <th nzAlign="center" nzWidth="150px">Mã dịch vụ</th>
              <th nzAlign="center" nzWidth="150px">Tên dịch vụ</th>
              <th nzAlign="center" nzWidth="250px">Mô tả</th>
              <th nzAlign="center" nzWidth="150px">Người tạo</th>
              <th nzAlign="center" nzWidth="150px">Thời điểm tạo</th>
              <th nzAlign="center" nzWidth="100px">Trạng thái</th>
            </tr>
            </thead>
          </table>
          <cdk-virtual-scroll-viewport itemSize="48" class="virtual-scroll-viewport">
            <table nz-table nzTableLayout="fixed">
              <tbody>
              <tr
                class="cursor-pointer"
                *cdkVirtualFor="let x of sampleData; let i = index"
                cdkDrag
              >
                <td nzAlign="center" nzWidth="50px">{{ i + 1 }}</td>
                <td nzAlign="center" nzWidth="70px">{{ x.activity }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.code }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.name }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="250px">{{ x.description }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.user }}</td>
                <td nzAlign="center" nzEllipsis nzWidth="150px">{{ x.createdAt }}</td>
                <td nzWidth="100px">{{ x.status }}</td>
              </tr>
              </tbody>
            </table>
          </cdk-virtual-scroll-viewport>
        </div>
      </div>
    </div>
    <div class="table-list p-3" style="margin-bottom: 20px;">
      <div class="basis-0 grow shrink">
        <div class="nz-table-container">
          <table nz-table  nzTableLayout="fixed">
            <thead>
            <tr>
              <th nzAlign="center" nzWidth="50px">STT</th>
              <th nzAlign="center" nzWidth="70px" nzRight>Thao tác</th>
              <th nzAlign="center" nzWidth="150px">Mã dịch vụ</th>
              <th nzAlign="center" nzWidth="150px">Tên dịch vụ</th>
              <th nzAlign="center" nzWidth="250px">Mô tả</th>
              <th nzAlign="center" nzWidth="150px">Người tạo</th>
              <th nzAlign="center" nzWidth="150px">Thời điểm tạo</th>
              <th nzAlign="center" nzWidth="100px">Trạng thái</th>
            </tr>
            </thead>
          </table>
          <cdk-virtual-scroll-viewport itemSize="48" class="virtual-scroll-viewport">
            <table nz-table nzTableLayout="fixed">
              <tbody>
              <tr
                class="cursor-pointer"
                *cdkVirtualFor="let x of sampleData; let i = index"
                cdkDrag
              >
                <td nzAlign="center" nzWidth="50px">{{ i + 1 }}</td>
                <td nzAlign="center" nzWidth="70px">{{ x.activity }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.code }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.name }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="250px">{{ x.description }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.user }}</td>
                <td nzAlign="center" nzEllipsis nzWidth="150px">{{ x.createdAt }}</td>
                <td nzWidth="100px">{{ x.status }}</td>
              </tr>
              </tbody>
            </table>
          </cdk-virtual-scroll-viewport>
        </div>
      </div>
    </div>
    <div class="table-list p-3" style="margin-bottom: 20px;">
      <div class="basis-0 grow shrink">
        <div class="nz-table-container">
          <table nz-table  nzTableLayout="fixed">
            <thead>
            <tr>
              <th nzAlign="center" nzWidth="50px">STT</th>
              <th nzAlign="center" nzWidth="70px" nzRight>Thao tác</th>
              <th nzAlign="center" nzWidth="150px">Mã dịch vụ</th>
              <th nzAlign="center" nzWidth="150px">Tên dịch vụ</th>
              <th nzAlign="center" nzWidth="250px">Mô tả</th>
              <th nzAlign="center" nzWidth="150px">Người tạo</th>
              <th nzAlign="center" nzWidth="150px">Thời điểm tạo</th>
              <th nzAlign="center" nzWidth="100px">Trạng thái</th>
            </tr>
            </thead>
          </table>
          <cdk-virtual-scroll-viewport itemSize="48" class="virtual-scroll-viewport">
            <table nz-table nzTableLayout="fixed">
              <tbody>
              <tr
                class="cursor-pointer"
                *cdkVirtualFor="let x of sampleData; let i = index"
                cdkDrag
              >
                <td nzAlign="center" nzWidth="50px">{{ i + 1 }}</td>
                <td nzAlign="center" nzWidth="70px">{{ x.activity }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.code }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.name }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="250px">{{ x.description }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.user }}</td>
                <td nzAlign="center" nzEllipsis nzWidth="150px">{{ x.createdAt }}</td>
                <td nzWidth="100px">{{ x.status }}</td>
              </tr>
              </tbody>
            </table>
          </cdk-virtual-scroll-viewport>
        </div>
      </div>
    </div>
    <div class="table-list p-3" style="margin-bottom: 20px;">
      <div class="basis-0 grow shrink">
        <div class="nz-table-container">
          <table nz-table  nzTableLayout="fixed">
            <thead>
            <tr>
              <th nzAlign="center" nzWidth="50px">STT</th>
              <th nzAlign="center" nzWidth="70px" nzRight>Thao tác</th>
              <th nzAlign="center" nzWidth="150px">Mã dịch vụ</th>
              <th nzAlign="center" nzWidth="150px">Tên dịch vụ</th>
              <th nzAlign="center" nzWidth="250px">Mô tả</th>
              <th nzAlign="center" nzWidth="150px">Người tạo</th>
              <th nzAlign="center" nzWidth="150px">Thời điểm tạo</th>
              <th nzAlign="center" nzWidth="100px">Trạng thái</th>
            </tr>
            </thead>
          </table>
          <cdk-virtual-scroll-viewport itemSize="48" class="virtual-scroll-viewport">
            <table nz-table nzTableLayout="fixed">
              <tbody>
              <tr
                class="cursor-pointer"
                *cdkVirtualFor="let x of sampleData; let i = index"
                cdkDrag
              >
                <td nzAlign="center" nzWidth="50px">{{ i + 1 }}</td>
                <td nzAlign="center" nzWidth="70px">{{ x.activity }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.code }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.name }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="250px">{{ x.description }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.user }}</td>
                <td nzAlign="center" nzEllipsis nzWidth="150px">{{ x.createdAt }}</td>
                <td nzWidth="100px">{{ x.status }}</td>
              </tr>
              </tbody>
            </table>
          </cdk-virtual-scroll-viewport>
        </div>
      </div>
    </div>
    <div class="table-list p-3" style="margin-bottom: 20px;">
      <div class="basis-0 grow shrink">
        <div class="nz-table-container">
          <table nz-table  nzTableLayout="fixed">
            <thead>
            <tr>
              <th nzAlign="center" nzWidth="50px">STT</th>
              <th nzAlign="center" nzWidth="70px" nzRight>Thao tác</th>
              <th nzAlign="center" nzWidth="150px">Mã dịch vụ</th>
              <th nzAlign="center" nzWidth="150px">Tên dịch vụ</th>
              <th nzAlign="center" nzWidth="250px">Mô tả</th>
              <th nzAlign="center" nzWidth="150px">Người tạo</th>
              <th nzAlign="center" nzWidth="150px">Thời điểm tạo</th>
              <th nzAlign="center" nzWidth="100px">Trạng thái</th>
            </tr>
            </thead>
          </table>
          <cdk-virtual-scroll-viewport itemSize="48" class="virtual-scroll-viewport">
            <table nz-table nzTableLayout="fixed">
              <tbody>
              <tr
                class="cursor-pointer"
                *cdkVirtualFor="let x of sampleData; let i = index"
                cdkDrag
              >
                <td nzAlign="center" nzWidth="50px">{{ i + 1 }}</td>
                <td nzAlign="center" nzWidth="70px">{{ x.activity }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.code }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.name }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="250px">{{ x.description }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.user }}</td>
                <td nzAlign="center" nzEllipsis nzWidth="150px">{{ x.createdAt }}</td>
                <td nzWidth="100px">{{ x.status }}</td>
              </tr>
              </tbody>
            </table>
          </cdk-virtual-scroll-viewport>
        </div>
      </div>
    </div>
    <div class="table-list p-3" style="margin-bottom: 20px;">
      <div class="basis-0 grow shrink">
        <div class="nz-table-container">
          <table nz-table  nzTableLayout="fixed">
            <thead>
            <tr>
              <th nzAlign="center" nzWidth="50px">STT</th>
              <th nzAlign="center" nzWidth="70px" nzRight>Thao tác</th>
              <th nzAlign="center" nzWidth="150px">Mã dịch vụ</th>
              <th nzAlign="center" nzWidth="150px">Tên dịch vụ</th>
              <th nzAlign="center" nzWidth="250px">Mô tả</th>
              <th nzAlign="center" nzWidth="150px">Người tạo</th>
              <th nzAlign="center" nzWidth="150px">Thời điểm tạo</th>
              <th nzAlign="center" nzWidth="100px">Trạng thái</th>
            </tr>
            </thead>
          </table>
          <cdk-virtual-scroll-viewport itemSize="48" class="virtual-scroll-viewport">
            <table nz-table nzTableLayout="fixed">
              <tbody>
              <tr
                class="cursor-pointer"
                *cdkVirtualFor="let x of sampleData; let i = index"
                cdkDrag
              >
                <td nzAlign="center" nzWidth="50px">{{ i + 1 }}</td>
                <td nzAlign="center" nzWidth="70px">{{ x.activity }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.code }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.name }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="250px">{{ x.description }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.user }}</td>
                <td nzAlign="center" nzEllipsis nzWidth="150px">{{ x.createdAt }}</td>
                <td nzWidth="100px">{{ x.status }}</td>
              </tr>
              </tbody>
            </table>
          </cdk-virtual-scroll-viewport>
        </div>
      </div>
    </div>
    <div class="table-list p-3" style="margin-bottom: 20px;">
      <div class="basis-0 grow shrink">
        <div class="nz-table-container">
          <table nz-table  nzTableLayout="fixed">
            <thead>
            <tr>
              <th nzAlign="center" nzWidth="50px">STT</th>
              <th nzAlign="center" nzWidth="70px" nzRight>Thao tác</th>
              <th nzAlign="center" nzWidth="150px">Mã dịch vụ</th>
              <th nzAlign="center" nzWidth="150px">Tên dịch vụ</th>
              <th nzAlign="center" nzWidth="250px">Mô tả</th>
              <th nzAlign="center" nzWidth="150px">Người tạo</th>
              <th nzAlign="center" nzWidth="150px">Thời điểm tạo</th>
              <th nzAlign="center" nzWidth="100px">Trạng thái</th>
            </tr>
            </thead>
          </table>
          <cdk-virtual-scroll-viewport itemSize="48" class="virtual-scroll-viewport">
            <table nz-table nzTableLayout="fixed">
              <tbody>
              <tr
                class="cursor-pointer"
                *cdkVirtualFor="let x of sampleData; let i = index"
                cdkDrag
              >
                <td nzAlign="center" nzWidth="50px">{{ i + 1 }}</td>
                <td nzAlign="center" nzWidth="70px">{{ x.activity }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.code }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.name }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="250px">{{ x.description }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.user }}</td>
                <td nzAlign="center" nzEllipsis nzWidth="150px">{{ x.createdAt }}</td>
                <td nzWidth="100px">{{ x.status }}</td>
              </tr>
              </tbody>
            </table>
          </cdk-virtual-scroll-viewport>
        </div>
      </div>
    </div>
    <div class="table-list p-3" style="margin-bottom: 20px;">
      <div class="basis-0 grow shrink">
        <div class="nz-table-container">
          <table nz-table  nzTableLayout="fixed">
            <thead>
            <tr>
              <th nzAlign="center" nzWidth="50px">STT</th>
              <th nzAlign="center" nzWidth="70px" nzRight>Thao tác</th>
              <th nzAlign="center" nzWidth="150px">Mã dịch vụ</th>
              <th nzAlign="center" nzWidth="150px">Tên dịch vụ</th>
              <th nzAlign="center" nzWidth="250px">Mô tả</th>
              <th nzAlign="center" nzWidth="150px">Người tạo</th>
              <th nzAlign="center" nzWidth="150px">Thời điểm tạo</th>
              <th nzAlign="center" nzWidth="100px">Trạng thái</th>
            </tr>
            </thead>
          </table>
          <cdk-virtual-scroll-viewport itemSize="48" class="virtual-scroll-viewport">
            <table nz-table nzTableLayout="fixed">
              <tbody>
              <tr
                class="cursor-pointer"
                *cdkVirtualFor="let x of sampleData; let i = index"
                cdkDrag
              >
                <td nzAlign="center" nzWidth="50px">{{ i + 1 }}</td>
                <td nzAlign="center" nzWidth="70px">{{ x.activity }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.code }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.name }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="250px">{{ x.description }}</td>
                <td nzAlign="left" nzEllipsis nzWidth="150px">{{ x.user }}</td>
                <td nzAlign="center" nzEllipsis nzWidth="150px">{{ x.createdAt }}</td>
                <td nzWidth="100px">{{ x.status }}</td>
              </tr>
              </tbody>
            </table>
          </cdk-virtual-scroll-viewport>
        </div>
      </div>
    </div>

  </div>


