@font-face {
  font-family: 'Roboto';
  src: url('/sdc-dashboard/assets/fonts/roboto/Roboto-Thin.ttf') format('truetype');
  //src: url('/assets/fonts/roboto/Roboto-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url('/sdc-dashboard/assets/fonts/roboto/Roboto-Light.ttf') format('truetype');
  //src: url('/assets/fonts/roboto/Roboto-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('/sdc-dashboard/assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
  //src: url('/assets/fonts/roboto/Roboto-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/sdc-dashboard/assets/fonts/roboto/Roboto-Medium.ttf') format('truetype');
  //src: url('/assets/fonts/roboto/Roboto-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('/sdc-dashboard/assets/fonts/roboto/Roboto-Bold.ttf') format('truetype');
  //src: url('/assets/fonts/roboto/Roboto-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('/sdc-dashboard/assets/fonts/roboto/Roboto-Black.ttf') format('truetype');
  //src: url('/assets/fonts/roboto/Roboto-Black.ttf');
  font-weight: 900;
}