.card-container {
  background-color: #fff;
  // padding:  0.75rem;
  border-radius: 8px;
}

.button {
    background-color: rgb(245, 211, 167);
    border-radius: 8px;
    height: auto;
    margin-right: 10px;

}

.selected-row {
  background-color: rgb(44, 99, 255, 0.16); 
  color: #f48833;
}

.hover-none{
  .selected-row {
    > td{
      background: none !important;
    }
  }
}